body {
    background-color: #ffffff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.22);
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.header {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
}

.header-item {
    /*padding-left: 20px;*/
    margin: auto;
    height: 70px;
    /*width: 1100px;*/
    text-align: center;
}

.container {
    margin: auto;
}

.header-item a {
    color: #FFFFFF;
}

.header-item a:hover {
    color: #000;
    cursor: pointer;
}

.ca {
    color: #000;
}

.header__item__right {
    width: 220px;
    float: right;
    top: 50%;
    /*margin-top: -53px;*/
    padding-left: 60px;
}

.container {
    padding: 0px;
}

.fuck {
    display: none;
}

.center-icon {
    margin-top: 25px;
    text-align: center;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.card {
    border: none;
}

.center-icon img {
    border-radius: 56px;
    width: 120px;
    height: 120px;
}

.blogname {
    height: 40px;
    font-size: 22px;
    padding: 5px 0;
    text-align: center;
    color: #666;
    margin-top: 10px;
}

.othermenu {
    margin: 35px 35px;

}

.othermenu ul {
    list-style: none;
    display: block;
    width: 100%;
    border-top: 1px dashed #e0e0e0;
}

.othermenu li {
    font-size: 15px;
    border-top: 1px dashed #e0e0e0;
    display: block;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    color: #757575;
}

.textwidget {
    width: 250px;
    padding: 25px;
    font-size: 12px;
    word-wrap: break-word;
    word-break: normal;
    /*border: 3px solid rgba(79, 195, 247, 0.39);*/
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
}

/*.othermenu:hover {*/
/*cursor: pointer;*/
/*}*/

p {

    margin-bottom: 7px;
}

.content {
    box-shadow: unset;

    width: 100%;
    float: right;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 30px;
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.views-count {
    display: none;
}

a {
    color: #1b1f23;
    text-decoration: none

}

　　 a:link {
    text-decoration: none;
    color: blue
}

　　 a:active {
    text-decoration: none
}

　　 a:visited {
    text-decoration: none;
    color: green
}

.entry-title a {

    font-size: 26px;
    font-weight: 700;
}

h1.entry-title {
    /*border-bottom: 1px outset #6d667e;*/
    font-size: 18px;
    padding: 10px 0px 10px;
    letter-spacing: 1.5px
}

.fa-bookmark:before {
    margin-right: 0px;
}

.fa-comment:before {
    margin-right: 0px;
}

.fa-tags:before {
    margin-right: 0px;
}

.fa-clock-o:before {
    margin-right: 0px;
}

.fa-eye:before {
    margin-right: 10px;
}

.entry-meta span {
    padding-top: 10px;
        padding-right: 10px;
}

.entry-meta {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-content {
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    font-family: NotoSans-Regular, Arial, sans-serif;
    /*border-bottom: 1px outset #6d667e;*/
}

#banner {
    font-size: 20px;
    float: left;

}

.ga:hover {
    color: #ffffff;
}

.header-item li:hover {
    color: #ffffff;
}

h1.archive-title {
    padding-bottom: 0px;
    font-size: 50px;
    /*border-bottom: 1px outset #6d667e;*/
}

.archive-content {
    padding-top: 20px;
}

.archive-item {

}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ga {
    font-size: 30px;
    padding-right: 7px;
}

.active {
    font-size: 20px;
}

small {
    font-size: 40%;
!important;
}

.content-father:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
}

.pagination {
    text-align: center;
    display: none;
}

.page {

    margin-bottom: 50px;
    text-align: center;
}

input#pagenum {
    width: 34px;
    height: 34px;
}

.reader {
    padding-bottom: 30px;
}

.othermenu a {
    font-size: 12px;
}

#foot {
    border-top: 8px solid #00acc1;
    background: #007c91;
    clear: both;
}

.social .ico a, .topmenu li a, #footer .info {
    color: #bedbec;
    font-family: 'Alegreya', Georgia, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    padding: 21px 0 14px;
    text-align: center;
    font-size: 16px;
}

.gd {
    position: fixed; /*固定作用*/
    top: 0px;
    left: 490px;
    /*ie6下样式，加下划线表示只针对ie6 的hack */
    _position: absolute; /* 把导航栏位置定义为绝对位置  关键*/
    z-index: 9999; /* 让导航栏浮在网页的高层位置，遇到flash和图片时候也能始终保持最外层 */
    text-align: left;
}

.go-top {
    width: 35px;
    height: 35px;
    background: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
    border-radius: 18px;
    /* font-size: 35px; */
    position: fixed;
    bottom: -100px;
    right: 21px;
    text-align: center;
    color: #666;
    cursor: pointer;
    z-index: 750;
    -webkit-transform: translateZ(0);
    transition-property: bottom;
    transition-duration: .2s;
    /* transition-timing-function: ease-in-out; */
    transition-delay: 0s;
    bottom: 28px;
}

.go-top .fa {
    font-size: 28px;
    line-height: 35px;
    display: block;
    vertical-align: middle;
}

.search {
    width: 200px;
    margin-top: 28px;
    margin-left: 200px;
}

html, body {
    height: 100%;
}

.footer {
    margin-top: -30px;
    height: 30px;
    background-color: #eee;
}

li.search {
    margin: 0px;
    width: 20px;
    margin-top: 23px;
    display: none;
}

.none {
    display: none;
}

.detail {
    padding-top: 30px;;
}

.detail-a {
    font-weight: bold;
}

.detail-a a {
    font-size: 30px;
}

.detail-a a:hover {
    cursor: Default
}

.cs::before {
    content: '';
    /*background: #cccccc;*/
}

.header-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/head.png) center #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.header {
    max-height: 500px;
    position: relative;
    color: #ffffff !important;
    margin-bottom: 0px;
}

.header a {
    color: #ffffff;
    font-size: 20px;
    margin: 0px 10px;
}

.wrap {
    position: relative;
}

#sub-nav {
    float: right;
    margin-right: 15px;
}

#main-nav {
    padding: 12px;
}

.site-heading {
    padding-top: 30px;
    padding-bottom: 90px;

}

h1 {
    font-size: 70px;
}

.subheading {
    font-size: 14px;
}

.header-pre {
    background: #000000;
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0.42;
}

.textfloat-normal {
    top: 20px;
    position: fixed;
    left: 0;
    margin-top: 40px;
    margin-left: -300px;
    float: left;
}

#main-nav a {
    display: none;
}

.all-cover {
    float: left;
    width: 100%;
    position: fixed;
    background: #000000;
    opacity: 0.4;
    min-height: 1200px;
    z-index: 20;
    display: none;
}

.half-cover {
    float: left;
    width: 65%;
   position: fixed;
    background: #efefef;
    /*opacity: 0.3;*/
    min-height: 1200px;
    z-index: 20;
    display: none;
}

.half-cover li {
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 20px;
}
.half-cover ul {
    margin-top: 50px;
}
.half-cover a {
    margin-left: 8px;
}

.active-icon {
    color: #00a8e6;
}

.swiperight {
    width: 25%;
    height: 100%;
    min-height: 1000px;
    position: fixed;
    z-index: 20;
    margin-top: 36px;
}
.archive-title small{
    font-size: 30%;
}
.active{
     font-size: 20px;
    background-color: #dadada!important;
    border-color: #333333 !important;
}