{% extends "base.html" %}



{% block content %}
    <div class="content" style="    min-height: 1000px;">
            <h1 class="entry-title">
                关于我？ 我是一个菜鸡。
            </h1>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="http://www.pythondoc.com/pythontutorial3/">Python 3.6中文文档</a>
            </span>
            <span>
                <a href="http://python.usyiyi.cn/documents/django_182/index.html">Django 1.8.2 文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
            <span>
                <a href="https://docs.python.org/3.4/">Python 3.4文档</a>
            </span>
    </div>
{% endblock %}