{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type="text/css" href="{% static 'blog/css/font-awesome.min.css' %} ">
    <link rel='stylesheet' type="text/css" href="{% static 'blog/css/animation.css' %} ">
    <link rel="stylesheet" href="{% static 'blog/css/reset.css' %}">
{#    <link rel='stylesheet' type="text/css" href="{% static 'blog/css/bootstrap.css' %}">#}
    <link rel='stylesheet' type="text/css" href="{% static 'blog/css/prism.css' %}">

    <link rel="stylesheet" media="screen and (min-width:781px), projection"
          href="{% static 'blog/css/980wide-screen.css' %}"/>
    <link rel='stylesheet' type="text/css" href="{% static 'blog/css/clock.css' %}">
    <link rel="stylesheet" media="screen and (max-width:780px), projection"
          href="{% static 'blog/css/480wide-screen.css' %}"/>
    <script src="{% static 'blog/js/jquery.min.js' %} "></script>
    <script src="{% static 'blog/js/fastclick.js' %} "></script>

    <script src="{% static 'blog/js/snap.js' %} "></script>
    <script src="{% static 'blog/js/prism.js' %} "></script>
    {% block css %}
    {% endblock %}
</head>

<body>
{#<div class="swiperight"></div>#}
<div class="all-cover"></div>
<div class="half-cover magictime">
    <ul>
        {#        <div style="width: 30px;height: 30px;"><li><i id='half-banner' class="fa fa-bars banner active-icon" aria-hidden="true"></i></li></div>#}
        <li>
            <i class="fa fa-home " aria-hidden="true"><a class=" main-nav-link" href="/">Home</a></i></li>

        <li><i class="fa fa-book" aria-hidden="true"><a class=" main-nav-link"
                                                        href="{% url 'archives' %}">Pigeonhole</a>
        </i></li>

        <li><i class="fa fa-smile-o " aria-hidden="true"><a class="main-nav-link"
                                                            href="about.html">About</a></i></li>
        <li>
            <div id="sub-nav " style="display: none">
                <a href="https://github.com/youTuQiong" target="_blank" title="GitHub"
                   class="fa fa-github "></a>
                {#                    <a href="#" target="_blank" title="gentlemen.zhang@gmail.com" class="fa fa-envelope"></a>#}
                {#                    <a class="fa fa-search" id="search"></a>#}

            </div>
        </li>
    </ul>

</div>
<div class="wrap ">
    <div class="header">
        <div id="header-inner" class="inner">
            <nav id="main-nav">

                <i id='banner' class="fa fa-bars banner " aria-hidden="true"></i>
                <a id="main-nav-toggle" class="nav-icon"></a>
                {#                    <div class="search d6 magictime" id="s_text">#}
                {#                        <input type="text" onkeydown="jump()" id="inputs" placeholder="搜索从这里开始...">#}
                {#                    </div>#}
                <a class="main-nav-link" href="/">Home</a>

                <a class="main-nav-link" href="{% url 'archives' %}">Pigeonhole</a>

                <a class="main-nav-link" href="about.html">About</a>
                <div id="sub-nav">
                    <a href="https://github.com/youTuQiong" target="_blank" title="GitHub"
                       class="fa fa-github "></a>
                    {#                    <a href="#" target="_blank" title="gentlemen.zhang@gmail.com" class="fa fa-envelope"></a>#}
                    {#                    <a class="fa fa-search" id="search"></a>#}
                </div>
            </nav>
            <div class="row-head" style="    text-align: center;">
                <div class="site-heading magictime slideUpReturn">
                    <a><h1>{% block Head_title %}{% endblock %}</h1></a>
                    <!--<hr class="small">-->
                    <span class="subheading">{% block subHeading %}{% endblock %}</span>
                </div>
            </div>
        </div>
        <div class="header-item" style="background: url(
                {% block head_Img %}{% endblock %}) center  #000;background-size: cover;-webkit-background-size: cover;
                -moz-background-size: cover;">
            {#            <div class="cs">#}
            {#                <a class="header__logo" href="../../index.html"></a>#}
            {#            </div>#}
            <div class="header-pre">
            </div>
        </div>
        <div style="    clear: both;"></div>
    </div>

    <div class="container">
        <div class="fuck">
            <div class="card">
                <div class="center-icon">
                    <img src="{% static 'blog/img/user.jpg' %}" alt="head icon">
                </div>
                <div class="blogname">Good Land</div>
            </div>

            <div class="othermenu">
                <ul>
                    <li><a href="/../../reader.html">My Flag</a></li>
                    <li><a href="../../mygays.html">Friend</a></li>
                    <li><a href="../../about.html">About me</a></li>
                    <li></li>
                </ul>
            </div>
            <div id="textfloat" class="magictime">
                <div class="textwidget">
                    <p>{{ phrase }}</p>
                </div>
                <div id="clock" class="light textwidget magictime">
                    <div class="display">
                        <div class="weekdays"></div>
                        <div class="digits" style="margin-top: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}
            {#        内容页的html代码#}
        {% endblock %}
        {% block content-father %}
            {#        首页的html代码#}
        {% endblock %}
    </div>
</div>
{% block page %}
    {#        分页功能的html代码#}
{% endblock %}

<div style="clear: both; height: 60px;"></div>

<div id="foot" class="fw">
    <div id="bottom" class="fw">
        <div id="footer" class="wc center clf">

            <div class="info">
                <p>Copyleft 2017 <a href="#">Cherry Land</a>. Proudly published with <a
                        href="https://https://www.djangoproject.com/" target="_blank">Django</a>. Made with ❤ by
                    TuQiong.</p>
            </div>

        </div>
    </div>

</div>

<div class="go-top" id="gotop">
    <span class="fa fa-angle-up"></span>
</div>

<script type="text/javascript" src="{% static 'blog/js/indexeffct.js' %}"></script>
</body>
</html>