{% extends "base.html" %}
    {% block title %} {{ name }}  - GoodLand's blog{% endblock %}
    {% block content %}
        <div class="content">
            <h1 class="archive-title">{{ name }}
                <small>（目前共计 {{ count }} 篇文章）</small>
            </h1>
            <div class="archive-content">
                {% for Article in post_list %}

                    <a class="archive-item list-group-item"
                       href="{{ Article.get_absolute_url }}"><span class="bagde">●   </span>{{ Article.title }} </a>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

{% block page %}
    <div class="page">
        <ul class="pagination">
            <!-- 第一页 -->
            {% if post_list.number == 1 %}
                <li>
                    <a class=" fa fa-angle-double-left "></a>
                </li>
            {% else %}
                <li>
                    <a class=" fa fa-angle-double-left " href="?{{ query_params.urlencode }}&page=1"></a>
                </li>
            {% endif %}
            <!-- 上一页 -->
            {% if post_list.has_previous %}
                <li>
                    <a class=" fa fa-angle-left "
                       href="?{{ query_params.urlencode }}&page={{ post_list.previous_page_number }}"></a>
                </li>
            {% else %}
                <li>
                    <a class=" fa fa-angle-left "></a>
                </li>
            {% endif %}

            <!-- 当前页/总页数 -->
            <li class="nowPage">
                <a> {{ post_list.number }} of {{ post_list.paginator.num_pages }}</a>
            </li>

            <!-- 下一页 -->
            {% if post_list.has_next %}
                <li><a class=" fa fa-angle-right "
                       href="?{{ query_params.urlencode }}&page={{ post_list.next_page_number }}">
                </a></li>
            {% else %}
                <li>
                    <a class=" fa fa-angle-right "></a>
                </li>
            {% endif %}

            <!-- 最后一页 -->
            <li><a class="fa fa-angle-double-right pa"
                   href="?{{ query_params.urlencode }}&page={{ post_list.paginator.num_pages }}">
            </a>
            </li>
            <li><input type="text" id="pagenum"
                       style="    width: 34px;height: 34px; border-color: #0a68a3;    float: left;"> <a>go</a></li>
            <li></li>
        </ul>
    </div>
{% endblock %}