{% extends "base.html" %}
{% block title %} CherryLand - GoodLand's blog{% endblock %}
{% block content-father %}
    <div class="content-father">
        {% for Article in post_list %}
            <div class="content ">
                <article class="post post-{{ Article.pk }}">
                    <h1 class="entry-title">
                        <a class="a-title" href="{{ Article.get_absolute_url }}">{{ Article.title }}</a>
                    </h1>
                </article>
                <div class="post-content">
                    {{ Article.excerpt|safe }}
                </div>
                <div class="entry-meta">
                        <span class="post-category"><a class="fa fa-bookmark" aria-hidden="true"
                                                       href="{% url 'Category' Article.category.pk %}">{{ Article.category.name }} </a></span>
                    <span class="post-date">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>
                            <time class="entry-date" datetime="{{ Article.created_time }}">{{ Article.created_time }}</time>
                        </span>
                     </span>
                    <span class="post-tag"><i class="fa fa-tags"  aria-hidden="true"></i>{% for tag in Article.tags.all %}
                        <a href="{% url 'Tag' tag.pk %}">{{ tag }}   {% endfor %}</a></span>
                    <span class="comments-link" style="display: none"><i class="fa fa-comment"
                                                                         aria-hidden="true"></i> 222</span>
                    <span class="views-count"> <i class="fa fa-eye"
                                                  aria-hidden="true"></i> {{ Article.views }}</span>
                </div>
            </div>
        {% empty %}
            <div class="no-post">暂时还没有发布的文章！</div>
        {% endfor %}
    </div>
{% endblock %}
{% block page %}
    <div class="page">
        <ul class="pagination">
            <!-- 第一页 -->
            {% if post_list.number == 1 %}
                <li>
                    <a class=" fa fa-angle-double-left "></a>
                </li>
            {% else %}
                <li>
                    <a class=" fa fa-angle-double-left " href="?{{ query_params.urlencode }}&page=1"></a>
                </li>
            {% endif %}
            <!-- 上一页 -->
            {% if post_list.has_previous %}
                <li>
                    <a class=" fa fa-angle-left "
                       href="?{{ query_params.urlencode }}&page={{ post_list.previous_page_number }}"></a>
                </li>
            {% else %}
                <li>
                    <a class=" fa fa-angle-left "></a>
                </li>
            {% endif %}

            <!-- 当前页/总页数 -->
            <li class="nowPage">
                <a> {{ post_list.number }} of {{ post_list.paginator.num_pages }}</a>
            </li>

            <!-- 下一页 -->
            {% if post_list.has_next %}
                <li><a class=" fa fa-angle-right "
                       href="?{{ query_params.urlencode }}&page={{ post_list.next_page_number }}">
                </a></li>
            {% else %}
                <li>
                    <a class=" fa fa-angle-right "></a>
                </li>
            {% endif %}

            <!-- 最后一页 -->
            <li><a class="fa fa-angle-double-right pa"
                   href="?{{ query_params.urlencode }}&page={{ post_list.paginator.num_pages }}">
            </a>
            </li>
            <li><input type="text" id="pagenum"
                       style="    width: 34px;height: 34px; border-color: #0a68a3;    float: left;"> <a>go</a></li>
            <li></li>
        </ul>
    </div>
{% endblock %}